@{
    ViewBag.Title = "About Us";
}


    <link rel="stylesheet" type="text/css" href="../Content/About.css" />

    

  




        <div id="ImageAndTitle">



            <div id="AboutTitleBackground">

                <h2 id="AboutTitle"> @ViewBag.Title </h2>
            </div>

            <img id="AboutBackground" src="~/Resources/About.jpg" class=" img-responsive center-block" />

        </div>


        <div id="AboutParagraph">


            <p>

                Paragraph on Technology 100, 150, 200, 250 to 300 Words for Kids, Students, and Children
                July 14, 2020 by Prasanna

                Paragraph on Technology: Technology is something that is gaining increasing importance in the world today. Wherever you look, there is technology. Even the device you are using to read this article uses technology. In simple words, technology is when we use science to apply it for practical purposes.

                For example, in a mobile phone, which is a form of technology, we are taking the practical purpose of communication and mixing it with science to create a phone. Here are some paragraphs on technology for children and students.

                You can read more Paragraph Writing about articles, events, people, sports, technology many more.

                Paragraph on Technology – 100 Words for Classes 1, 2, 3 Kids
                Technology is a very amazing thing that scientists create. Scientists look at all the things that we

            </p>

            <p>Use this area to provide additional information.</p>

        </div>








 